:root {
  color-scheme: light dark;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: optional;
  src: url("/fonts/inter-var-latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-zinc-600 dark:text-zinc-400;
}

.token.punctuation {
  @apply text-zinc-800 dark:text-zinc-100;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-fuchsia-700 dark:text-fuchsia-300;
}

.token.boolean,
.token.number {
  @apply text-indigo-700 dark:text-indigo-300;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-green-700 dark:text-green-300;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  @apply text-zinc-700 dark:text-zinc-300;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  @apply text-amber-700 dark:text-amber-300;
}

.token.keyword {
  @apply text-indigo-700 dark:text-indigo-300;
}

.token.regex,
.token.important {
  @apply text-orange-700 dark:text-orange-300;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
